body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
    
}
/* ---------header--------- */
.header {
    height: 72px;
    background-color: #FEFEFE;
}
.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 735px;
}

.logo {
    height: 52px;
    margin: 10px 0;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 20px 0;
}
.home-colored {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    color: #BBF330;
    text-decoration: underline;
}
.navigation-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    text-align: left;
    padding: 8px 0;;
}
.navigation-btn {
    background-color: #BBF330;
    color: #2C2C2C;
    border: none;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    margin: 6 auto;
    display: block;
    min-width: 98px;
    height: 32px;
}
/* ------------------------ */
/* -----hero--------------- */
.hero {
    display: block;
    background-color: #FEFEFE;
    
}

.hero-title {
    display: block;
    color: #2C2C2C;
    max-width: 502.42px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-top: 159px;
}

.hero-text {
    display: block;
    color: #2C2C2C;
    max-width: 511px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 40px;
}
.picture{
    align-items: flex-start;
    float: right;
}


/* ------------------------ */